<ng-container *ngFor="let item of sampleJson">
  <div *ngIf="item.day==activeDay" class="list-wrapper">
    <ng-container *ngIf = "item.deliveries.length; else noDeliveries">
      <div *ngFor="let del of item.deliveries" class="list-item">
        <div class="img-wrapper">
          <img src="{{del.logoUrl}}" alt="{{del.restaurantName}} logo">
          <span class="logo-text">{{del.restaurantName}}</span>
        </div>
        <div class="info-wrapper">
          <ng-container *ngIf="!del.soldOut; else soldOut">
            <div class="info-row">
              <p class="label">Order By: </p>
              <div class="time-val">
                <p>{{formatTime(del.cutoff)}}</p>
              </div>
            </div>
            <div class="info-row">
              <p class="label">Delivery Time: </p>
              <div class="time-val">
                <p>{{formatTime(del.dropoff) }}</p>
              </div>
            </div>
            <div class="info-row">
              <button type="button" class="select-rest" (click) = "selectRestaurant(del.restaurantName)">Select Restaurant</button>
            </div>
            <div class="info-row" *ngIf="del.sellingOut">
              <p class="warning">Hurry! Only a few left!</p>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-template #soldOut>
  <div class="info-row sold-out">
    <p>Sold Out!</p>
    <p>This restaurant has hit maximum order capacity which is established to ensure quality.</p>
  </div>

</ng-template>
<ng-template #noDeliveries>
  <p class = "text-center">Sorry! No deliveries found!</p>
</ng-template>