/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min';
@import '/assets/variables';

body{
    color:#626366;
    // background-color:#efefef;
}
a{
color: #626366;
    &:hover{
        color:#00a5b3;
        text-decoration: none;
    }
}