/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min';
@import '/assets/variables';

body{
    color:$base-txt;
}
a{
color:$base-txt;
    &:hover{
        color:$link-green;
        text-decoration: none;
    }
}
p{
    margin-bottom:0;
}